Goal:- To create ML Model for car Price based on the various features in the data set.

step 1: studying the data
step 1: handling missing values
step 4: Encoding 
step 5: Model Creation
step 5: checking bias and variance
step 6: Hyperparameter tuning if required

In [1]:
#importing necessary libraries
import pandas as pd
import seaborn as sns 
import matplotlib.pyplot as plt
import numpy as np
import warnings
warnings.filterwarnings("ignore")

In [2]:
df=pd.read_csv("cars.csv") #reading the csv file

In [3]:
df.head()

,symboling,normalized-losses,make,fuel-type,body-style,drive-wheels,engine-location,width,height,engine-type,engine-size,horsepower,city-mpg,highway-mpg,price
0,3,?,alfa-romero,gas,convertible,rwd,front,64.1,48.8,dohc,130,111,21,27,13495
1,3,?,alfa-romero,gas,convertible,rwd,front,64.1,48.8,dohc,130,111,21,27,16500
2,1,?,alfa-romero,gas,hatchback,rwd,front,65.5,52.4,ohcv,152,154,19,26,16500
3,2,164,audi,gas,sedan,fwd,front,66.2,54.3,ohc,109,102,24,30,13950
4,2,164,audi,gas,sedan,4wd,front,66.4,54.3,ohc,136,115,18,22,17450

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 15 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   symboling          205 non-null    int64
 1   normalized-losses  205 non-null    object
 2   make               205 non-null    object
 3   fuel-type          205 non-null    object
 4   body-style         205 non-null    object
 5   drive-wheels       205 non-null    object
 6   engine-location    205 non-null    object
 7   width              205 non-null    float64
 8   height             205 non-null    float64
 9   engine-type        205 non-null    object
 10  engine-size        205 non-null    int64
 11  horsepower         205 non-null    object
 12  city-mpg           205 non-null    int64
 13  highway-mpg        205 non-null    int64
 14  price              205 non-null    int64
dtypes: float64(2), int64(5), object(8)
memory usage: 24.1+ KB

In [5]:
df["normalized-losses"].unique()

array(['?', '164', '158', '192', '188', '121', '98', '81', '118', '148',
       '110', '145', '137', '101', '78', '106', '85', '107', '104', '113',
       '150', '129', '115', '93', '142', '161', '153', '125', '128',
       '122', '103', '168', '108', '194', '231', '119', '154', '74',
       '186', '83', '102', '89', '87', '77', '91', '134', '65', '197',
       '90', '94', '256', '95'], dtype=object)

In [6]:
df["horsepower"].unique()

array(['111', '154', '102', '115', '110', '140', '160', '101', '121',
       '182', '48', '70', '68', '88', '145', '58', '76', '60', '86',
       '100', '78', '90', '176', '262', '135', '84', '64', '120', '72',
       '123', '155', '184', '175', '116', '69', '55', '97', '152', '200',
       '95', '142', '143', '207', '288', '?', '73', '82', '94', '62',
       '56', '112', '92', '161', '156', '52', '85', '114', '162', '134',
       '106'], dtype=object)

# handling missing values

In [7]:
#1 replacing ? with nan
df.replace("?",np.nan,inplace=True)

#2 changing dtype of column
df["normalized-losses"]=df["normalized-losses"].astype(float)
df["horsepower"]=df["horsepower"].astype(float)

#3 saving the mean of the column
nmean=df["normalized-losses"].mean()
hmean=df["horsepower"].mean()

#4 fill nan values with mean
df["normalized-losses"].fillna(nmean,inplace=True)
df["horsepower"].fillna(hmean,inplace=True)

# Handling categorical data

# Encoding

Encoding refers to the process of converting categorical data (such as text labels) into numerical data that can be processed by machine learning algorithms. There are several ways to encode categorical data, such as one-hot encoding, label encoding, or binary encoding.

In [8]:
catcol=df.select_dtypes(object).columns
catcol

Index(['make', 'fuel-type', 'body-style', 'drive-wheels', 'engine-location',
       'engine-type'],
      dtype='object')

In [9]:
df[catcol]

,make,fuel-type,body-style,drive-wheels,engine-location,engine-type
0,alfa-romero,gas,convertible,rwd,front,dohc
1,alfa-romero,gas,convertible,rwd,front,dohc
2,alfa-romero,gas,hatchback,rwd,front,ohcv
3,audi,gas,sedan,fwd,front,ohc
4,audi,gas,sedan,4wd,front,ohc
...,...,...,...,...,...,...
200,volvo,gas,sedan,rwd,front,ohc
201,volvo,gas,sedan,rwd,front,ohc
202,volvo,gas,sedan,rwd,front,ohcv
203,volvo,diesel,sedan,rwd,front,ohc
204,volvo,gas,sedan,rwd,front,ohc

In [10]:
from sklearn.preprocessing import OrdinalEncoder
oe = OrdinalEncoder()

In [11]:
df

,symboling,normalized-losses,make,fuel-type,body-style,drive-wheels,engine-location,width,height,engine-type,engine-size,horsepower,city-mpg,highway-mpg,price
0,3,122.0,alfa-romero,gas,convertible,rwd,front,64.1,48.8,dohc,130,111.0,21,27,13495
1,3,122.0,alfa-romero,gas,convertible,rwd,front,64.1,48.8,dohc,130,111.0,21,27,16500
2,1,122.0,alfa-romero,gas,hatchback,rwd,front,65.5,52.4,ohcv,152,154.0,19,26,16500
3,2,164.0,audi,gas,sedan,fwd,front,66.2,54.3,ohc,109,102.0,24,30,13950
4,2,164.0,audi,gas,sedan,4wd,front,66.4,54.3,ohc,136,115.0,18,22,17450
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,-1,95.0,volvo,gas,sedan,rwd,front,68.9,55.5,ohc,141,114.0,23,28,16845
201,-1,95.0,volvo,gas,sedan,rwd,front,68.8,55.5,ohc,141,160.0,19,25,19045
202,-1,95.0,volvo,gas,sedan,rwd,front,68.9,55.5,ohcv,173,134.0,18,23,21485
203,-1,95.0,volvo,diesel,sedan,rwd,front,68.9,55.5,ohc,145,106.0,26,27,22470
204,-1,95.0,volvo,gas,sedan,rwd,front,68.9,55.5,ohc,141,114.0,19,25,22625

values before encoding

In [12]:
print(dict(df["make"].value_counts()))
print(dict(df["fuel-type"].value_counts()))
print(dict(df["body-style"].value_counts()))
print(dict(df["drive-wheels"].value_counts()))
print(dict(df["engine-location"].value_counts()))
print(dict(df["engine-type"].value_counts()))

{'toyota': 32, 'nissan': 18, 'mazda': 17, 'mitsubishi': 13, 'honda': 13, 'volkswagen': 12, 'subaru': 12, 'peugot': 11, 'volvo': 11, 'dodge': 9, 'mercedes-benz': 8, 'bmw': 8, 'audi': 7, 'plymouth': 7, 'saab': 6, 'porsche': 5, 'isuzu': 4, 'jaguar': 3, 'chevrolet': 3, 'alfa-romero': 3, 'renault': 2, 'mercury': 1}
{'gas': 185, 'diesel': 20}
{'sedan': 96, 'hatchback': 70, 'wagon': 25, 'hardtop': 8, 'convertible': 6}
{'fwd': 120, 'rwd': 76, '4wd': 9}
{'front': 202, 'rear': 3}
{'ohc': 148, 'ohcf': 15, 'ohcv': 13, 'dohc': 12, 'l': 12, 'rotor': 4, 'dohcv': 1}

In [13]:
df[catcol]=oe.fit_transform(df[catcol])

In [14]:
df

,symboling,normalized-losses,make,fuel-type,body-style,drive-wheels,engine-location,width,height,engine-type,engine-size,horsepower,city-mpg,highway-mpg,price
0,3,122.0,0.0,1.0,0.0,2.0,0.0,64.1,48.8,0.0,130,111.0,21,27,13495
1,3,122.0,0.0,1.0,0.0,2.0,0.0,64.1,48.8,0.0,130,111.0,21,27,16500
2,1,122.0,0.0,1.0,2.0,2.0,0.0,65.5,52.4,5.0,152,154.0,19,26,16500
3,2,164.0,1.0,1.0,3.0,1.0,0.0,66.2,54.3,3.0,109,102.0,24,30,13950
4,2,164.0,1.0,1.0,3.0,0.0,0.0,66.4,54.3,3.0,136,115.0,18,22,17450
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,-1,95.0,21.0,1.0,3.0,2.0,0.0,68.9,55.5,3.0,141,114.0,23,28,16845
201,-1,95.0,21.0,1.0,3.0,2.0,0.0,68.8,55.5,3.0,141,160.0,19,25,19045
202,-1,95.0,21.0,1.0,3.0,2.0,0.0,68.9,55.5,5.0,173,134.0,18,23,21485
203,-1,95.0,21.0,0.0,3.0,2.0,0.0,68.9,55.5,3.0,145,106.0,26,27,22470
204,-1,95.0,21.0,1.0,3.0,2.0,0.0,68.9,55.5,3.0,141,114.0,19,25,22625

# Model Creation

In [15]:
x = df.iloc[:,:-1]
y = df.iloc[:,-1]

In [26]:
from sklearn.model_selection import train_test_split
xtrain,xtest,ytrain,ytest = train_test_split(x,y,test_size=0.35,random_state=1)

from sklearn.linear_model import LinearRegression
linreg = LinearRegression()
linreg.fit(xtrain,ytrain)
ypred = linreg.predict(xtest)

from sklearn.metrics import r2_score
print(r2_score(ytest,ypred))

0.8117887074702075

# Bias and Variance

In [27]:
train = linreg.score(xtrain,ytrain)
test = linreg.score(xtest,ytest)
print(f"Training Accuracy:- {train}\n Testing Accuracy:- {test}")

Training Accuracy:- 0.8470380721915429
 Testing Accuracy:- 0.8117887074702075

In [28]:
#High Training Accuracy :- Low Training Error :- Low Bias
#Low Testing Accuracy :- High Testing Error :- High Variance
#Low Bias + High Variance ---> Overfitting

To overcome this issue we use redge or lesso

# Ridge or Lasso

In [41]:
from sklearn.linear_model import Ridge, Lasso

l2 = Ridge(alpha=4)
l2.fit(xtrain,ytrain)
ypred = l2.predict(xtest)

In [42]:
train = l2.score(xtrain,ytrain)
test = l2.score(xtest,ytest)
print(f"Training Accuracy:- {train}\n Testing Accuracy:- {test}")

Training Accuracy:- 0.8200793057573801
 Testing Accuracy:- 0.8236312237235649

# Hyperparameter Tuning

In [44]:
for i in range(1,50):
    l2 = Ridge(alpha=i)
    l2.fit(xtrain,ytrain)

    train = l2.score(xtrain,ytrain)
    test = l2.score(xtest,ytest)

    print(f"{i} {train} {test} {train - test}")

1 0.8396143346446955 0.8201196444002032 0.01949469024449224
2 0.8312069051235709 0.8222725244962641 0.008934380627306782
3 0.8248653010988695 0.8231556553108085 0.0017096457880609872
4 0.8200793057573801 0.8236312237235649 -0.0035519179661848144
5 0.8163485230242475 0.8239313925060288 -0.007582869481781218
6 0.8133447668416198 0.8241375884346126 -0.010792821592992774
7 0.8108582689662873 0.8242846522088144 -0.013426383242527096
8 0.8087517947226386 0.8243901577139551 -0.01563836299131649
9 0.8069326891094308 0.8244642794482938 -0.01753159033886298
10 0.8053364381768313 0.8245135980012546 -0.01917715982442325
11 0.8039168463542367 0.8245427422628325 -0.02062589590859587
12 0.8026400003752182 0.8245551715560167 -0.021915171180798443
13 0.8014804480598938 0.8245535832067026 -0.023073135146808754
14 0.8004187096031995 0.8245401433080297 -0.02412143370483022
15 0.7994396138426574 0.8245166276227083 -0.025077013780050894
16 0.7985311593724125 0.8244845135338015 -0.025953354161388997
17 0.7976837180595135 0.824445043532351 -0.026761325472837494
18 0.7968894671303719 0.8243992711223616 -0.027509803991989656
19 0.7961419770661853 0.8243480952532817 -0.028206118187096396
20 0.7954359077527063 0.8242922868987761 -0.028856379146069755
21 0.7947667811636658 0.824232510035098 -0.029465728871432173
22 0.7941308090197018 0.8241693384883942 -0.030038529468692454
23 0.7935247605177289 0.8241032696496536 -0.030578509131924725
24 0.7929458596616203 0.8240347357612264 -0.03108887609960609
25 0.7923917047330246 0.8239641132867483 -0.031572408553723785
26 0.791860204512866 0.8238917307465136 -0.03203152623364758
27 0.7913495273117142 0.8238178753097088 -0.032468347997994695
28 0.7908580598924336 0.8237427983698504 -0.0328847384774168
29 0.7903843741036708 0.8236667202818342 -0.03328234617816339
30 0.7899271995760848 0.8235898344029807 -0.03366263482689591
31 0.7894854012243651 0.8235123105528792 -0.034026909328514154
32 0.7890579605878772 0.8234342979854024 -0.0343763373975251
33 0.7886439602595476 0.8233559279494036 -0.03471196768985596
34 0.7882425708162029 0.8232773159011846 -0.03503474508498172
35 0.7878530397881053 0.8231985634210635 -0.035345523632958176
36 0.7874746823009842 0.8231197598776515 -0.03564507757666735
37 0.7871068730977167 0.8230409838763424 -0.03593411077862574
38 0.7867490397043349 0.8229623045227081 -0.03621326481837328
39 0.7864006565501188 0.8228837825266914 -0.03648312597657255
40 0.7860612398871099 0.8228054711695042 -0.036744231282394346
41 0.785730343382619 0.8227274171518629 -0.03699707376924388
42 0.7854075542808541 0.8226496613393965 -0.03724210705854247
43 0.7850924900478995 0.8225722394187863 -0.03747974937088683
44 0.7847847954288897 0.8224951824762239 -0.037710387047334204
45 0.784484139858092 0.8224185175081499 -0.037934377650057916
46 0.7841902151722686 0.8223422678728417 -0.03815205270057309
47 0.7839027335856157 0.8222664536902397 -0.038363720104623966
48 0.7836214258910955 0.8221910921964009 -0.03856966630530534
49 0.7833460398583579 0.8221161980581128 -0.03877015819975482

In [45]:
l2 = Ridge(alpha=3)
l2.fit(xtrain,ytrain)
ypred = l2.predict(xtest)

In [46]:
train = l2.score(xtrain,ytrain)
test = l2.score(xtest,ytest)
print(f"Training Accuracy:- {train}\n Testing Accuracy:- {test}")

Training Accuracy:- 0.8248653010988695
 Testing Accuracy:- 0.8231556553108085